<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
    <h4 class="modal-title">@Messages.PlayerExport_FormTitle</h4>
</div>

<div id="editplayerformbody">
    <div class="row">
        <div class="col-md-12">

            @if (ViewBag.ExportResult == true)
            {
                <div class="alert alert-success">
                    @Messages.PlayerExport_SuccessResult - <a class="text-danger" href="@Url.Action("DownloadExportFile", "TeamPlayers")">@Messages.Download</a>
                </div>
            }
            else
            {
                <div class="alert alert-danger">@Messages.PlayerExport_ErrorResult</div>
            }

        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.Close</button>
</div>