@model ActivityFormSuccessResultModel

<head>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
    <header>
        <div id="RegistrationResults" class="well">
            <h1 style="text-align: center;">
                @Messages.ThankYou<br/>
            </h1>
            <h1 style="text-align: center;">
                @if (Model.Activity?.UnionId == GlobVars.UkraineGymnasticUnionId && Model.Activity.GetFormType() == ActivityFormType.UnionClub)
                {
                    @(Messages.SuccessRegisterUa)
                }
                else
                {
                    @(Model.IsLiqPay ? Messages.SuccessRegister_LiqPay : Messages.SuccessRegister)
                }
                <br />
            </h1>
            <div class="well well-sm">
                <h3 style="text-align:center;">@($"{Messages.Activity_Name}: {Model.Activity.Name}")<br /></h3>
                @{
                    var paymentIdentifier = Model.PaymentIdentifier;
                }
                @if (paymentIdentifier != default(Guid) && paymentIdentifier.HasValue)
                {
                    <h3 style="text-align:center;">@($"{Messages.Activity_PaymentIdentifier}:")</h3>
                    <div class="text-center">
                        <h4>
                            <span class="label label-success">@paymentIdentifier</span>
                        </h4>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Activity.RedirectLinkOnSuccess))
                {
                    Uri uri;
                    if (Uri.TryCreate(Model.Activity.RedirectLinkOnSuccess, UriKind.RelativeOrAbsolute, out uri))
                    {
                        var url = uri.IsAbsoluteUri ? uri.AbsoluteUri : $"http://{uri.OriginalString}";

                        <div class="text-center">
                            <div class="alert alert-success" role="alert">
                                @Messages.Activity_RedirectAlert
                                @Messages.Activity_RedirectAlert_ClickHere <a href="@url" class="alert-link">@Messages.Activity_RedirectAlert_ClickHere_Link</a>
                            </div>
                        </div>

                        <script>
                            setTimeout(function() {
                                window.location.href = "@url";
                            }, 5000);
                        </script>
                    }
                }
            </div>
        </div>
    </header>
<body>
<div id="RegistrationResults" style="margin-top:10px; border:none;">
    <footer>
        <div class="pull-left bot-title" style="float:left;">Powered By</div>
        <img src="@Url.Content("~/content/images/logo.png")" class="pull-left bot-logo" alt="Powered By LogLig" />
        <div class="clearfix"></div>
    </footer>
</div>
</body>