@model RouteViewModel

<div class="modal-dialog" id="team_modal_window_@Model.Id">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@Model.Route - @Messages.Ranks:</h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered" id="rank_table_@Model.Id">
                <thead>
                    <tr>
                        <th>@Messages.RankGym</th>
                        <th>@Messages.FromAge</th>
                        <th>@Messages.ToAge</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TeamRanks != null)
                    {
                        foreach (var rank in Model.TeamRanks)
                        {
                            <tr id="rank_@rank.Id">
                                <td><input type="text" value="@rank.Rank" id="teamrankValue_@rank.Id" class="form-control" /></td>
                                <td>
                                    <input type="text" value="@(rank.FromAge?.ToShortDateString())" id="teamrankFromAge_@rank.Id" class="frm-date-wo-time form-control" />
                                </td>
                                <td>
                                    <input type="text" value="@(rank.ToAge?.ToShortDateString())" id="teamrankToAge_@rank.Id" class="frm-date-wo-time form-control" />
                                </td>
                                <td>
                                    <a data-controls-modal="#rankModal_@Model.Id" data-backdrop="static" data-keyboard="false"
                                       href="#" class="@AppCss.Save" onclick="updateTeamRank(@rank.Id)">
                                    </a>
                                </td>
                                <td>
                                    <a data-controls-modal="#teamrankModal_@Model.Id" data-backdrop="static" data-keyboard="false" href="#"
                                       class="btn btn-danger" onclick="removeTeamRank(@rank.Id, @Model.Id, @(rank.RelationCount > 0 ? "1" : "0"), '@Messages.RankDeleteConfirmation')">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td><input type="text" id="new_teamrank_@Model.Id" class="form-control" /></td>
                        <td><input type="text" id="new_teamrank_AgeFrom_@Model.Id" class="frm-date-wo-time form-control" /></td>
                        <td><input type="text" id="new_teamrank_AgeTo_@Model.Id" class="frm-date-wo-time form-control" /></td>
                        <td><input type="button" onclick="addTeamRank(@Model.Id)" value="@Messages.AddNewRank" class="btn btn-primary" /></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
