@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body style="text-align:right">
    <p>
        User @Model.Name id @Model.SenderId has reported on inappropriate image.
    </p>
    <p>
        img @Model.ImgName on @Model.Type @Model.ParentName @Model.ParentId] at @Model.Date by @Model.SenderId
        
    </p>
</body>
</html>