@model ActivityModel

<div id="select-schools" class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.RestrictSchools, new { @class = "restrict-schools" }) @Messages.Activity_SelectSchools:
    </label>
    <select multiple="multiple" @(!Model.RestrictSchools ? "disabled" : "") class="form-control restrict-schools-dropdown">
        @foreach (var school in Model.Schools)
        {
            <option value="@school.Id" @(Model.RestrictedSchools.Any(x => x.Id == school.Id) ? "selected" : "")>@school.Name</option>
        }
    </select>
    @Html.HiddenFor(x => x.RestrictedSchoolsJson)
</div>

<div id="select-teams" class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.RestrictTeams, new { @class = "restrict-teams" }) @Messages.Activity_SelectTeams:
    </label>
    <select multiple="multiple" @(!Model.RestrictTeams ? "disabled" : "") class="form-control restrict-teams-dropdown">
        @*@{
                var grouppedDropdown = Model.Teams.GroupBy(x => x.Group);
                grouppedDropdown = grouppedDropdown.OrderBy(x => x.Key);

                foreach (var group in grouppedDropdown)
                {
                    <optgroup label="@group.Key">
                        @foreach (var team in group.OrderBy(x => x.Caption))
                        {
                            <option value="@team.Value" @(Model.RestrictedTeams.Any(x => x.Value == team.Value) ? "selected" : "")>@team.Caption</option>
                        }
                    </optgroup>
                }
            }*@
    </select>
    @Html.HiddenFor(x => x.RestrictedTeamsJson)
</div>

<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.DoNotAllowDuplicateRegistrations) @Messages.Activity_DoNotAllowDuplicateRegistrations
    </label>
</div>

<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.ClubLeagueTeamsOnly) @Messages.Activity_ClubLeagueTeamsOnly
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.RegistrationPrice) @Messages.Activity_EnableRegistrationAndEquipmentPrice
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.InsurancePrice) @Messages.Activity_EnableInsurancePrice
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.ParticipationPrice) @Messages.Activity_EnableParticipationPrice
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.AllowNoParticipationPayment) @Messages.Activity_AllowNoParticipationPayment
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.AllowNoInsurancePayment) @Messages.Activity_AllowNoInsurancePayment
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.PostponeParticipationPayment) @Messages.Activity_PostponeParticipationPayment
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.MultiTeamRegistration) @Messages.Activity_EnableMultiTeamRegistration
    </label>
</div>
<div class="form-group col-sm-12">
    <label class="control-label">
        @Html.CheckBoxFor(m => m.MovePlayerToTeam) @Messages.Activity_MovePlayerToTeamOnRegistration
    </label>
</div>
<div class="form-group col-sm-12 well">
    <div>
        <label class="control-label">
            @Html.CheckBoxFor(m => m.AllowToEnterDateToAdjustPrices) @Messages.Activity_AllowToEnterDateToAdjustPrices
        </label>
    </div>
    <div>
        <label class="control-label">
            @Html.CheckBoxFor(m => m.AdjustRegistrationPriceByDate) @Messages.Activity_AdjustRegistrationPriceByDate
        </label>
    </div>
    <div>
        <label class="control-label">
            @Html.CheckBoxFor(m => m.AdjustParticipationPriceByDate) @Messages.Activity_AdjustParticipationPriceByDate
        </label>
    </div>
    <div>
        <label class="control-label">
            @Html.CheckBoxFor(m => m.AdjustInsurancePriceByDate) @Messages.Activity_AdjustInsurancePriceByDate
        </label>
    </div>

</div>

<script>
    $(".restrict-schools").change(function () {
        if (this.checked) {
            $(".restrict-schools-dropdown").multiselect("enable");
        } else {
            $(".restrict-schools-dropdown").multiselect("disable");
        }
    });
    $(".restrict-teams").change(function () {
        if (this.checked) {
            $(".restrict-teams-dropdown").multiselect("enable");
        } else {
            $(".restrict-teams-dropdown").multiselect("disable");
        }
    });
</script>