@model ActivityModel

<div id="union-club-settings" style="display: @(Model.ActivityFormType == ActivityFormType.UnionClub && Model.UnionId != null && Model.ClubId == null ? "block" : "none");">

    <div class="form-group col-sm-12">
        <label class="control-label">
            @Html.CheckBoxFor(m => m.DisableRegPaymentForExistingClubs) @Messages.Activity_DisableRegPaymentForExistingClubs
        </label>
    </div>

    <div class="form-group col-sm-12">
        <label class="control-label">
            @Html.CheckBoxFor(m => m.CreateClubTeam) @Messages.Activity_CreateClubTeam
        </label>
    </div>
</div>
