@model ActivityFormControlTemplateModel

@{
    var controlEnabled = (!Model.IsPublish || !Model.IsDisabled) && !Model.IsDisabledBySettings;
}

<div class="control custom-control custom-text-control @(controlEnabled ? "" : "hidden")" data-type="@ActivityFormControlType.CustomTextMultiline" data-canberemoved="@Model.CanBeRemoved" data-hasoptions="@Model.HasOptions" data-fieldnote="@Model.FieldNote" data-isdisabled="@Model.IsDisabled" data-isrequired="@Model.IsRequired" data-canberequired="@Model.CanBeRequired" data-canbedisabled="@Model.CanBeDisabled" @Model.GetDataAttributesForLabels() data-propertyname="@Model.PropertyName" data-isreadonly="@Model.IsReadOnly">
    @if (controlEnabled)
    {
        if (!Model.IsPublish)
        {
            <label for="buildForm-body-@Model.PropertyName" class="control-label"></label>
            <textarea id="buildForm-body-@Model.PropertyName"
                      placeholder="@Messages.Activity_BuildForm_CustomField_Text_Description"
                      name="@Model.PropertyName"
                      class="form-control custom-text-textarea"
                      data-val-required="@Messages.PropertyValueRequired"
                      data-val="@(Model.IsRequired ? "true" : "false")"
                      @(Model.IsReadOnly ? "readonly" : "")>@Model.LabelTextEn</textarea>
        }
        else
        {
            <div class="custom-text-multiline-value">@Model.LabelTextEn</div>
        }

        @Html.Partial("ActivityForm/ControlTemplates/Common/_ValidationMessage", Model)

        @Html.Partial("ActivityForm/ControlTemplates/Common/_RequiredSwitch", Model)
        @Html.Partial("ActivityForm/ControlTemplates/Common/_DisabledSwitch", Model)


        @*@Html.Partial("ActivityForm/ControlTemplates/Common/_FieldNote", Model)*@
        @Html.Partial("ActivityForm/ControlTemplates/Custom/_CustomControlOptions", Model)
    }
</div>