@model EditUnionForm

<div class="modal fade" id="importImgModal" tabindex="-1" role="dialog" aria-labelledby="importImgModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("ImportImages", "Unions", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Messages.Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="importImgModalLabel">@Messages.ImportPlayerImages</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.UnionId)
                    @Html.HiddenFor(x => x.SeasonId)
                    
                    <input type="file" name="files" multiple accept="image/*" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.Close</button>
                    <button type="submit" class="btn btn-primary">@Messages.Save</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="importIDFilesModal" tabindex="-1" role="dialog" aria-labelledby="importIDFilesModalLabel">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("ImportIdFiles", "Unions", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Messages.Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="importIDFilesModalLabel">@Messages.ImportIdFiles</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.UnionId)
                    @Html.HiddenFor(x => x.SeasonId)

                    <input type="file" name="files" multiple accept="image/*, application/pdf" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.Close</button>
                    <button type="submit" class="btn btn-primary">@Messages.Save</button>
                </div>
            </div>
        }
    </div>
</div>