@using Resources
@using LogLigFront.Helpers
@using AppModel
@model CompetitionDiscipline
@{ 
    string[] alternativeResultArray = new string[] {"","DNF","DQ","DNS","NM" };
}
<div class="modal-dialog modal-lg modal-result-custom-width">
    <div class="modal-content" style="padding: 18px;">
        <a href="" onclick="printClick();" class="print_print_id btn btn-primary remove_print desktop-only float-last">
            <i class="glyphicon glyphicon-print"></i>&nbsp @Messages.Print
        </a>
        <div class="print_id" id="print_id" data-print-title="">

            <style>
                td, th {
                    text-align: center;
                }
                .modal-result-custom-width {
                    width:100%;
                }

            @Html.Raw('@')media screen and (min-width: 1000px) {
                .modal-result-custom-width {
                    max-width:1000px;
                    width:90%;
                }
            @Html.Raw('@')page{size:auto; margin:5mm;}
            }
            </style>
            <div class="main-title disciplines-title">
                <table class="borderless disciplines-title" style="width:100%;">
                    <tr>
                        <td style="vertical-align : middle;text-align:center;" colspan="3" rowspan="3">
                            @if (ViewBag.Logo != null && !string.IsNullOrEmpty(ViewBag.Logo))
                            {
                                <img src="@ViewBag.Logo" class="img-circle keep-for-print" style="max-height:100px;max-width:150px;" alt="" />
                            }
                        </td>
                        <td style="text-align:center;" colspan="4">
                            <h3 style="margin-top:0px;margin-bottom:0px;">
                                @Model.League.Union.Name
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h4 style="margin-top:0px;margin-bottom:0px;">
                            @if (Model.StartTime.HasValue)
                            {
                                @:@Model.League.Name - @Model.StartTime.Value.Date.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                @Model.League.Name
                            }
                            </h4></td>
                    </tr>
                    <tr>
                        <td colspan="3"><h4 style="margin-top:0px;margin-bottom:0px;">@ViewBag.DisciplineName - @ViewBag.GenderId - @Messages.Results</h4></td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table res-table">
                    <thead>
                        <tr class="disciplines-title">
                            <th>@Messages.Place</th>
                            <th>@Messages.AthleteNumber</th>
                            <th>@Messages.FullName</th>
                            <th>@Messages.YearOfBirth</th>
                            <th>@Messages.Club</th>
                            @if (!ViewBag.IsCombinedDiscipline)
                            {
                            <th>@Messages.Heat</th>
                            <th>@(ViewBag.Format == 10 || ViewBag.Format == 11 || ViewBag.Format == 6 ? Messages.OrderRaw : Messages.Lane)</th>
                            }
                            <th style="text-align: center;">תוצאות</th>
                            @if (!ViewBag.IsCombinedDiscipline)
                            {
                            <th>@Messages.Wind</th>
                            }
                            <th>@Messages.Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var group in Model.CompetitionDisciplineRegistrationsByHeat)
                        {
                            var rank = 0;
                            <tr>
                                <td colspan="@(ViewBag.IsCombinedDiscipline ? 7 : 10)">@group.Key</td>
                            </tr>
                            foreach (var reg in group)
                            {
                                CompetitionResult results = null;
                                if (reg.CompetitionResult.Count() > 0)
                                {
                                    results = reg.CompetitionResult.FirstOrDefault();
                                }
                                rank += 1;
                                <tr>
                                    <td>@(ViewBag.IsResultsManualyRanked ? results.Rank : rank)</td>
                                    @{
                                        var athleteNumber = reg.User?.AthleteNumbers.FirstOrDefault(x => x.SeasonId == ViewBag.SeasonId)?.AthleteNumber1;
                                    }
                                    <td>
                                        @if (athleteNumber != null)
                                        {
                                            @athleteNumber
                                        }
                                    </td>
                                    <td>
                                        @if (reg.User != null)
                                        {
                                            <a href="@Url.Action("Details","Players", new { id = reg.UserId,  seasonId = ViewBag.SeasonId})"
                                               style="margin: 8px 0;padding: 2px 12px; color:#000080;" target="_blank">@reg.User.FullName</a>
                                        }
                                    </td>
                                    <td>
                                        @if (reg.User != null)
                                        {
                                            @(reg.User.BirthDay.HasValue ? reg.User.BirthDay.Value.Year.ToString() : "");
                                        }
                                    </td>
                                    <td>
                                        @if (reg.Club != null)
                                        {
                                            @reg.Club.Name
                                        }
                                    </td>
                                    @if (!ViewBag.IsCombinedDiscipline)
                                    {
                                        <td>
                                            @if (results != null)
                                            {
                                                @results.Heat
                                            }
                                        </td>
                                        <td>
                                            @if (results != null)
                                            {
                                                @results.Lane
                                            }
                                        </td>
                                    }
                                    <td style="direction:ltr;">
                                        @if (results != null)
                                        {
                                            if (results.AlternativeResult > 0)
                                            {
                                                @alternativeResultArray[results.AlternativeResult];
                                            }
                                            else if (!string.IsNullOrWhiteSpace(results.Result))
                                            {
                                                @UIHelpers.GetCompetitionDisciplineResultString(results.Result, ViewBag.Format)

                                            }
                                        }
                                    </td>
                                    @if (!ViewBag.IsCombinedDiscipline)
                                    {
                                        <td style="direction:ltr;">
                                            @if (results != null)
                                            {
                                                @String.Format("{0:0.0}", results.Wind)
                                            }
                                        </td>
                                    }
                                    <td style="direction:ltr;">
                                        @if (results != null && results.AlternativeResult == 0)
                                        {
                                            if (ViewBag.IsMultiBattle)
                                            {
                                                @results.CombinedPoint
                                            }
                                            else if ((Model.League.AthleticLeagueId.HasValue && Model.League.AthleticLeagueId.Value > -1) || !Model.IsForScore)
                                            {
                                                @(UIHelpers.RemoveRightSidedZeros(results.ClubPoints.ToString()))
                                            }
                                            else
                                            {
                                                @results.ClubPoints
                                            }
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default mobile-only" data-dismiss="modal">@Messages.Close</button>
        </div>
        @section scripts
        {
            <script type="text/javascript" src="~/Scripts/App/PrintSchedule.js"></script>
        }
    </div>
</div>

