@using Resources
@using LogLigFront.Helpers
@using DataService.DTO
@model List<AthleticRegDto>
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-left" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <div class="modal-title disciplines-title" style="text-align:center;">
                <table class="borderless disciplines-title" style="width:100%;">
                    <tr>
                        <td style="vertical-align : middle;text-align:center;" colspan="3" rowspan="3">
                            @if (ViewBag.Logo != null && !string.IsNullOrEmpty(ViewBag.Logo))
                            {
                                <img src="@ViewBag.Logo" class="img-circle keep-for-print" style="max-height:100px;max-width:150px;" alt="" />
                            }
                        </td>
                        <td style="text-align:center;" colspan="4">
                            <h3 style="margin-top:0px;margin-bottom:0px;">
                                @ViewBag.UnionName
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h4 style="margin-top:0px;margin-bottom:0px;">
                                @($" {Messages.StartListHeb}: {ViewBag.CompetitionName}")
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"> 
                            @($" {Messages.Category}: {ViewBag.CategoryName}")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-body">
            <table class="table res-table">
                <thead>
                    <tr>
                        <th>@Messages.Club</th>
                        <th>@Messages.FullName</th>
                        <th>@Messages.YearOfBirth</th>
                        <th>@Messages.WeightDeclaration</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var participant in Model)
                    {
                    <tr>
                        <td>@participant.ClubName</td>
                        <td>
                            @participant.FullName
                        </td>
                        <td>
                            @(participant.BirthDay.HasValue ? participant.BirthDay.Value.Year.ToString() : "")
                        </td>
                        <td>
                            @participant.WeightDeclaration
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            @section scripts
            {
                <script type="text/javascript" src="~/Scripts/App/PrintSchedule.js"></script>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.Close</button>
            </div>
        </div>
    </div>
</div>

